[gcode_shell_command audio_freq]
command: /usr/data/zmod/zmod/.shell/root/audio/audio
timeout: 3
verbose: False

[gcode_shell_command audio_midi]
command: /usr/data/zmod/zmod/.shell/root/audio/audio_midi.sh
timeout: 30
verbose: True

# Проверка чек суммы md5
[gcode_shell_command check_md5]
command: /usr/data/zmod/zmod/.shell/checkMD5.sh
timeout: 300
verbose: False

[gcode_shell_command sync]
command: sync
timeout: 50
verbose: False

[gcode_shell_command zremote]
command: /usr/data/zmod/zmod/.shell/zremote.sh
timeout: 20
verbose: True

[gcode_shell_command plugins]
command: /usr/data/zmod/zmod/.shell/plugins.sh
timeout: 600
verbose: True

[gcode_shell_command reboot]
command: /usr/data/zmod/zmod/.shell/zremote.sh reboot
timeout: 20
verbose: True

[gcode_shell_command fix_config]
command: /usr/data/zmod/zmod/.shell/fix_config.sh
timeout: 600
verbose: False

[gcode_shell_command poweroff]
command: /usr/data/zmod/zmod/.shell/zremote.sh poweroff
timeout: 20
verbose: False

[gcode_shell_command ztouch]
command: touch
timeout: 50
verbose: False

[gcode_shell_command zdisplay]
command: /usr/data/zmod/zmod/.shell/zdisplay.sh
timeout: 600
verbose: False

[gcode_shell_command zfix_e0017]
command: /usr/data/zmod/zmod/.shell/zfix_e0017.sh
timeout: 50
verbose: False

[gcode_shell_command zfix_e0011]
command: /usr/data/zmod/zmod/.shell/zfix_e0011.sh
timeout: 50
verbose: False

[gcode_shell_command zmem]
command: /usr/data/zmod/zmod/.shell/zmem.sh
timeout: 15
verbose: True

[gcode_shell_command zcamera]
command: /usr/data/zmod/zmod/.shell/zcamera.sh
timeout: 60
verbose: False

[gcode_shell_command s99camera]
command: /usr/data/zmod/zmod/.shell/S99camera
timeout: 60
verbose: False

[gcode_shell_command date]
command: date
timeout: 30
verbose: True

[gcode_shell_command zhttp]
command: /usr/data/zmod/zmod/.shell/zhttp.sh
timeout: 50
verbose: False

[gcode_shell_command zlang]
command: /usr/data/zmod/zmod/.shell/zlang.sh
timeout: 15
verbose: False

[gcode_shell_command tar_config]
command: /usr/data/zmod/zmod/.shell/tar_config.sh
timeout: 600
verbose: True

[gcode_shell_command zcheckmd5]
command: /usr/data/zmod/zmod/.shell/zcheckmd5.sh
timeout: 1800
verbose: True

[gcode_shell_command ls]
command: ls
timeout: 50
verbose: True

[gcode_shell_command ln]
command: ln
timeout: 50
verbose: False

[gcode_shell_command rm]
command: rm
timeout: 50
verbose: False

[gcode_shell_command tar]
command: tar
timeout: 50
verbose: False

[gcode_shell_command gzip]
command: gzip
timeout: 300
verbose: False

[gcode_shell_command stop_zmod]
command: /usr/data/zmod/zmod/.shell/zmod.sh
timeout: 120
verbose: False

[gcode_shell_command zfs]
command: /usr/data/zmod/zmod/.shell/zfs.sh
timeout: 600
verbose: True

[gcode_shell_command clear_emmc]
command: /usr/data/zmod/zmod/.shell/zclear.sh
timeout: 600
verbose: False

[gcode_shell_command zssh]
command: /usr/data/zmod/zmod/.shell/zssh.sh
timeout: 60
verbose: True

[gcode_shell_command zprint]
command: /usr/data/zmod/zmod/.shell/zprint.sh
timeout: 120
verbose: True

[gcode_shell_command zmcu]
command: /usr/data/zmod/zmod/.shell/zmcu.sh
timeout: 120
verbose: False

[gcode_shell_command znice]
command: /usr/data/zmod/zmod/.shell/znice.sh
timeout: 15
verbose: False

[gcode_shell_command zversion]
command: /usr/data/zmod/zmod/.shell/zversion.sh
timeout: 50
verbose: True

[gcode_shell_command restart_klipper]
command: start-stop-daemon -S -b -x /usr/data/zmod/zmod/.shell/restart_klipper.sh
timeout: 120
verbose: False

[gcode_shell_command close_dialogs]
command: start-stop-daemon -S -b -x /usr/data/zmod/zmod/.shell/close_dialogs.sh
timeout: 120
verbose: False

[gcode_shell_command znozzle]
command: /usr/data/zmod/zmod/.shell/znozzle.sh
timeout: 120
verbose: False

[gcode_shell_command guppy_input_shaper]
command: /usr/data/zmod/zmod/.shell/zshaper_guppy.sh
timeout: 1800.0
verbose: True

[gcode_shell_command guppy_belts_calibration]
command: /usr/data/zmod/zmod/.shell/zgraph_guppy.sh
timeout: 600.0
verbose: True

[gcode_shell_command run_power_off]
command: /opt/config/mod_data/power_off.sh
timeout: 600.0
verbose: True

[gcode_shell_command zshaper_new]
command: /usr/data/zmod/zmod/.shell/zshaper_new.sh
timeout: 1600.0
verbose: True

[gcode_shell_command zrestore]
command: /usr/data/zmod/zmod/.shell/zrestore.sh
timeout: 600.0
verbose: True

[gcode_shell_command zrestore_tar_config]
command: /usr/data/zmod/zmod/.shell/zrestore_tar_config.sh
timeout: 600.0
verbose: True

# Отправка данных на принтер
[gcode_shell_command zsend]
command: /usr/data/zmod/zmod/.shell/zsend.sh
timeout: 50
verbose: True

[gcode_shell_command zexclude]
command: /usr/data/zmod/zmod/.shell/zexclude.sh
timeout: 120
verbose: False

[gcode_shell_command zpreclear]
command: /usr/data/zmod/zmod/.shell/zpreclear.sh
timeout: 120
verbose: False

[gcode_shell_command zflash]
command: /usr/data/zmod/zmod/.shell/zflash.sh
timeout: 7200
verbose: True

[gcode_shell_command zreset_passwd]
command: /usr/data/zmod/zmod/.shell/zresetpasswd.sh
timeout: 7200
verbose: True

[gcode_shell_command wifi]
command: /usr/data/zmod/zmod/.shell/wifi.sh
timeout: 7200
verbose: False

[gcode_shell_command screen]
command: /usr/data/zmod/zmod/.shell/screen.sh
timeout: 7200
verbose: True

[gcode_shell_command zupdate]
command: /usr/data/zmod/zmod/.shell/zupdate.sh
timeout: 7200
verbose: False

[gcode_shell_command zlink]
command: /usr/data/zmod/zmod/.shell/zlink.sh
timeout: 7200
verbose: True

[gcode_shell_command cat]
command: cat
timeout: 10
verbose: True

[gcode_shell_command check_start_print]
command: /usr/data/zmod/zmod/.shell/check_start_print.sh
timeout: 7200
verbose: False

[gcode_shell_command enable_extra_plugins]
command: /usr/data/zmod/zmod/.shell/enable_extra_plugins.sh
timeout: 7200
verbose: False

[gcode_shell_command ip]
command: /usr/data/zmod/zmod/.shell/ip.sh
timeout: 20
verbose: True

[gcode_shell_command free]
command: /usr/data/zmod/zmod/.shell/free.sh
timeout: 20
verbose: False
